
/*-- BS3 Modified Classes --*/
.panel {
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.panel-body {
    padding: 20px;
}
.panel-heading {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.panel-footer {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}




/*-- Common Use Classes --*/
.btn-ui {
    background-color: #E55F3A;
    border-color: #C54A28;
    color: #fff;
}
.btn-ui:hover {
    background-color: #E0624C;
    color: #fff;
}
.list-block {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.list-block ul {
    display: table-row;
}
.list-block li {
    display: table-cell;
    margin: 0;
}
.pad-left-0 {
    padding-left: 0px;
}
.pad-right-0 {
    padding-right: 0px;
}
.mrg-btm-10 {
    margin-bottom: 10px;
}
.mrg-btm-20 {
    margin-bottom: 20px;
}

/*-- Pie Chart Widget --*/
#pie-chart-widget .panel-body {
    padding: 0px;
}
#pie-chart-widget .panel-footer {
    background-color: #fff;
    padding: 0px;
    margin-top: 20px;
}
#pie-chart-widget .panel-footer .btn {
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px 0px;
    border-top: none;
}
#pie-chart-widget .panel-footer .btn:hover {
    background-color: #62584C;
    border-color: #52483F;
}
#pie-chart-widget h2 {
    font-weight: 700;
    margin: 3px 0 0 0;
}
#pie-chart-widget .legend li {
    background-color: #F5F0EC;
    padding: 20px 10px;
}
#pie-chart-widget .legend li:not(:first-child) {
    border-left: 1px solid #fff;
}
#pie-chart-widget .legend .video {   
    border-top: 4px solid #4DAF7C; 
}
#pie-chart-widget .legend .audio {
    border-top: 4px solid #EAC85D;
}
#pie-chart-widget .legend .photo {
    border-top: 4px solid #E25331;
}