@import fonts
@import requires

body, label, .checkbox label, .dropdown-menu li a
	font-family $font
	font-weight 300

h1
	font-weight 400
	
a, a:active, a:focus, :focus
	-webkit-appearance transparent
	outline transparent !important
	
@media print
	footer 
		page-break-after always