@import fonts
@import requires

body, label, .checkbox label, .dropdown-menu li a
	font-family $font
	font-weight 300

h1
	font-weight 400
	
a, a:active, a:focus, :focus
	-webkit-appearance transparent
	outline transparent !important
	
@media print
	footer 
		page-break-after always
		
.btn-social-icon.btn-sm
	padding-right 4px
	padding-bottom 0px !important
	a
		color #FFF


.bootstrap-tagsinput
	display inherit !important
	line-height 24px
	margin-top 10px
	border-radius 0 !important
	max-height 34px
	input
		width auto !important