@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);

@font-face
	font-family Neou
	font-style normal
	src url(fonts/neou/Neou-Thin.ttf)

$font = sans-serif
$font-title = Neou, Lato, "Lucida Grande", sans-serif
$font-cursive = 'Cabin Sketch', cursive

body, label, .checkbox label, .dropdown-menu li a
	font-family $font
	font-weight 300

h1
	font-weight 400

a, a:focus, a:active
	outline none