@import url('http://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('http://fonts.googleapis.com/css?family=Lato');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300');

$font = sans-serif
$font-title = 'Cabin Sketch', "Lucida Grande", sans-serif
$font-subtitle = 'Lato', sans-serif